<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Logs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              customBlue: "#6B7AF7",
            },
            fontFamily: {
              spoqa: ["Spoqa Han Sans"], // Spoqa Han Sans 폰트 추가
            },
          },
        },
      };
    </script>
    <style>
      /* 3/5 비율의 최대 높이를 설정하는 클래스 */
      .max-h-3-5 {
        max-height: 60vh; /* 3/5 비율로 설정 (100vh의 60%) */
      }
    </style>
  </head>
  <body class="bg-gray-200 h-screen flex flex-col">
    <!-- 상단 헤더 -->
    <div class="justify-center flex h-16 mt-4">
      <h1 class="text-customBlue text-5xl font-bold">se1en's Request Bins</h1>
    </div>

    <div class="flex-grow flex items-center justify-center">
      <div class="flex bg-white rounded-2xl h-4/5 w-4/5">
        <div class="flex flex-col w-1/4 p-5">
          <div class="flex justify-center h-1/7 p-5">
            <div class="flex flex-col w-1/2 items-center">시간</div>
            <div class="flex flex-col w-1/2 items-center">경로</div>
          </div>

          <div
            class="flex flex-col max-h-3-5 h-4/5 items-start overflow-y-auto"
          >
            {% for log in logs |reverse %}
            <div
              class="flex w-full justify-between items-center my-1 hover:bg-customBlue transition-colors hover:text-white"
              data-index="{{ loop.index0 }}"
              onclick="showLogDetails(this)"
            >
              <div
                class="w-1/2 h-12 flex items-center justify-center text-center"
              >
                {{ log.timestamp }}
              </div>
              <div
                class="w-1/2 h-12 flex items-center justify-center text-center overflow-hidden"
              >
                {{ log.path }}
              </div>
            </div>

            {% endfor %}
          </div>
          <button
            class="mt-3 bg-customBlue text-white font-bold py-2 px-4 rounded transition-colors hover:bg-blue-600"
            onclick="fetch('/reset', { method: 'POST' }).then(() => location.reload());"
          >
            리셋
          </button>
        </div>

        <div class="border-l border-gray-300 h-full"></div>

        <div class="flex flex-col w-3/4 p-5 overflow-y-auto break-words">
          <!-- 오른쪽 요소 -->
          <div>
            <div class="text-3xl font-spoqa font-bold">My Request</div>
            <span class="text-xl font-spoqa font-bold text-customBlue">IP</span
            >:
            <span id="IP"></span>
            <br />
            <span class="text-xl font-spoqa font-bold text-customBlue">
              Method </span
            >:
            <span id="Method"></span>
            <br />
            <span class="text-xl font-spoqa font-bold text-customBlue">
              Path</span
            >:
            <span id="Path"></span>
            <br />
            <span class="text-xl font-spoqa font-bold text-customBlue">
              QueryString </span
            >:
            <span id="QueryString"></span>
            <br />
          </div>
          <div>
            <div class="text-3xl font-spoqa font-bold">Headers</div>
            <div id="headers" class="text-sm"></div>
          </div>
          <div>
            <div class="text-3xl font-spoqa font-bold">Body</div>
            <div id="Body" class="text-sm"></div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // logs 데이터는 서버에서 제공한 JSON으로 설정합니다.
      const logs = {{ logs | tojson }};

      function showLogDetails(logElement) {
        // data-index 속성에서 인덱스를 가져옵니다.
        const index = logElement.getAttribute('data-index');

        // logs 배열에서 해당 인덱스에 해당하는 log를 가져옵니다.
        const log = logs[index];
        console.log(log)
        // log 정보를 화면에 출력

        //해더 출력
        const headers = document.getElementById('headers');
        const bodys = document.getElementById('Body');
        let headersContent = Object.entries(log.headers)
      .map(([key, value]) => `<span class="text-xl font-spoqa font-bold text-customBlue">${key}</span>: ${value}`)
      .join('<br>');
      let bodyContent = Object.entries(log.body)
      .map(([key, value]) => `${key}: ${value}`)
      .join('<br>');
        headers.innerHTML = headersContent;
        bodys.innerHTML = bodyContent;
        //ip출력
        const ipElement  = document.getElementById('IP');
        ipElement.innerHTML=log.ip
        //Method출력
        const MethodElement  = document.getElementById('Method');
        MethodElement.innerHTML=log.method
        //Path출력
        const PathElement  = document.getElementById('Path');
        PathElement.innerHTML=log.path
        //QueryString출력
        const QueryStringElement  = document.getElementById('QueryString');
        QueryStringElement.innerHTML=log.query_string
      }
    </script>
  </body>
</html>
