<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Request Logs</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css"
      rel="stylesheet"
    />

    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              customBlue: "#6B7AF7",
            },
            fontFamily: {
              spoqa: ["Spoqa Han Sans"], // Spoqa Han Sans 폰트 추가
            },
          },
        },
      };
    </script>
    <style>
      /* 3/5 비율의 최대 높이를 설정하는 클래스 */
      .max-h-3-5 {
        max-height: 60vh; /* 3/5 비율로 설정 (100vh의 60%) */
      }
    </style>
  </head>
  <body class="bg-gray-200 h-screen flex flex-col">
    <!-- 상단 헤더 -->
    <div class="justify-center flex h-16">
      <h1 class="text-customBlue text-5xl font-bold">se1en's Request Bins</h1>
    </div>

    <div class="flex-grow flex items-center justify-center">
      <div class="flex bg-white rounded-2xl h-4/5 w-4/5">
        <div class="flex flex-col w-1/4 p-5">
          <div class="flex justify-center h-1/7 p-5">
            <div class="flex flex-col w-1/2 items-center">시간</div>
            <div class="flex flex-col w-1/2 items-center">경로</div>
          </div>

          <div class="flex flex-col max-h-3-5 items-start overflow-y-auto">
            {% for log in logs %}
            <div
              class="flex w-full justify-between items-center my-1 hover:bg-customBlue transition-colors hover:text-white"
            >
              <div
                class="w-1/2 h-12 flex items-center justify-center text-center"
              >
                {{ log.timestamp }}
              </div>
              <div
                class="w-1/2 h-12 flex items-center justify-center text-center"
              >
                {{ log.path }}
              </div>
            </div>

            {% endfor %}
          </div>
          <button
            class="mt-3 bg-customBlue text-white font-bold py-2 px-4 rounded transition-colors hover:bg-blue-600"
          >
            리셋
          </button>
        </div>

        <div class="border-l border-gray-300 h-full"></div>

        <div class="flex flex-col w-3/4 p-5">
          <!-- 오른쪽 요소 -->
          <div>
            <div class="text-3xl font-spoqa font-bold">My Request</div>
          </div>
          <div>
            <div class="text-3xl font-spoqa font-bold">Headers</div>
          </div>
          <div>
            <div class="text-3xl font-spoqa font-bold">Body</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
